/* ==========================================================================
   Helpers
============================================================================= */

body{
	&:not(&.logged-in){
		.d-login{
			display: none!important;
		}
	}
}

/* fullcover ---------------------------------------*/
.fullcover{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

/* bg-image ---------------------------------------*/

.bg-image{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
 }

 /* mob view height ---------------------------------------*/

 @include media-breakpoint-down(lg) {
	 .vh-mobile{height: 40vh!important;}
 }

/* overlay ---------------------------------------*/

.overlay{
	z-index: 0;
	&:before{
		@include overlay(.3);
	}
}

/* general helpers ---------------------------------------*/
.nobr br{ display: none !important;}
.pointer{cursor: pointer;}

/* tel link ---------------------------------------*/



/* title-line ---------------------------------------*/

.title-line{
	position: relative;
	&:after{
		content:"";
		position: relative;
		margin-top: 16px;
		display: block;
		width: 70px;
		height: 2px;
		background: $primary;
	}
}

/* trans-neg ---------------------------------------*/

.trans-neg{
	transform: translate(0, -100%);
}

/* Typography ===================================================*/

.h-1{ font-size: $heading-1; line-height: $lh-heading-1;}
.h-2{ font-size: $heading-2; line-height: $lh-heading-2;}
.h-3{ font-size: $heading-3; line-height: $lh-heading-3;}
.h-4{ font-size: $heading-4; line-height: $lh-heading-4;}
.h-5{ font-size: $heading-5; line-height: $lh-heading-5;}
.h-6{ font-size: $heading-6; line-height: $lh-heading-6;}

.t-large{ font-size: $t-large; line-height: $lh-t-large;}
.t-medium{ font-size: $t-medium; line-height: $lh-t-medium;}
.t-regular{ font-size: $t-regular; line-height: $lh-t-regular;}
.t-small{ font-size: $t-small; line-height: $lh-t-small;}
.t-tiny{ font-size: $t-tiny; line-height: $lh-t-tiny;}

@include media-breakpoint-down(lg) {

	.h-1{ font-size: $heading-m-1;}
	.h-2{ font-size: $heading-m-2;}
	.h-3{ font-size: $heading-m-3;}
	.h-4{ font-size: $heading-m-4;}
	.h-5{ font-size: $heading-m-5;}
	.h-6{ font-size: $heading-m-6;}

	.t-large{ font-size: $t-m-large;}
	.t-medium{ font-size: $t-m-medium;}
	.t-regular{ font-size: $t-m-regular;}
	.t-small{ font-size: $t-m-small;}
	.t-tiny{ font-size: $t-m-tiny;}

}

/* font-weights ===================================================*/

.fw-200{font-weight: 200;}
.fw-300{font-weight: 300;}
.fw-400{font-weight: 400;}
.fw-500{font-weight: 500;}
.fw-600{font-weight: 600;}
.fw-700{font-weight: 700;}
.fw-800{font-weight: 800;}
.fw-900{font-weight: 900;}

/* custom colors-classes (on top of Bootstrap) ===================================================*/

/* color ---------------------------------------*/

.text-tertiary{color:$tertiary;}
.text-white{color:$white;}
.text-gray-100{color:$gray-100;}
.text-gray-200{color:$gray-200;}
.text-gray-300{color:$gray-300;}
.text-gray-400{color:$gray-400;}
.text-gray-500{color:$gray-500;}
.text-gray-600{color:$gray-600;}
.text-gray-700{color:$gray-700;}
.text-gray-800{color:$gray-800;}
.text-gray-900{color:$gray-900;}
.text-black{color:$black;}
.text-error{color:$error;}

/* background-color ---------------------------------------*/

.bg-tertiary{background-color:$tertiary;}
.bg-white{background-color:$white;}
.bg-gray-100{background-color:$gray-100;}
.bg-gray-200{background-color:$gray-200;}
.bg-gray-300{background-color:$gray-300;}
.bg-gray-400{background-color:$gray-400;}
.bg-gray-500{background-color:$gray-500;}
.bg-gray-600{background-color:$gray-600;}
.bg-gray-700{background-color:$gray-700;}
.bg-gray-800{background-color:$gray-800;}
.bg-gray-900{background-color:$gray-900;}
.bg-black{background-color:$black;}
.bg-error{background-color:$error;}

/* border-color ---------------------------------------*/

.border-tertiary{border-color:$tertiary;}
.border-white{border-color:$white;}
.border-gray-100{border-color:$gray-100;}
.border-gray-200{border-color:$gray-200;}
.border-gray-300{border-color:$gray-300;}
.border-gray-400{border-color:$gray-400;}
.border-gray-500{border-color:$gray-500;}
.border-gray-600{border-color:$gray-600;}
.border-gray-700{border-color:$gray-700;}
.border-gray-800{border-color:$gray-800;}
.border-gray-900{border-color:$gray-900;}
.border-black{border-color:$black;}
.border-error{border-color:$error;}

/* shadow classes ===================================================*/

.bs-xxsmall {box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);}
.bs-xsmall {box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);}
.bs-small {box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.06), 0px 4px 8px -2px rgba(0, 0, 0, 0.1);}
.bs-medium {box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.03), 0px 12px 16px -4px rgba(0, 0, 0, 0.08);}
.bs-large {box-shadow: 0px 8px 8px -4px rgba(0, 0, 0, 0.03), 0px 20px 24px -4px rgba(0, 0, 0, 0.08);}
.bs-xlarge {box-shadow: 0px 24px 48px -12px rgba(0, 0, 0, 0.18);}
.bs-xxlarge {box-shadow: 0px 32px 64px -12px rgba(0, 0, 0, 0.14);}