/*==========================================================================
	Cards
=============================================================================*/



/*==========================================================================
	Pagination
=============================================================================*/

.grid-pag{
	display: inline-block;
	margin: -8px;
	a,span{
		color: $gray-700;
		font-size: 18px;
		display: inline-block;
		margin: 8px;
	}
	span.current,a:hover{
		color: $primary;
	}
}